<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" id="logo">
    <img src="assets/images/logo.png">
  </div>
  <div [fxLayout]="layout">
    <div class="info-container" fxLayout="column">
      <h1>Who Are We?</h1>
      <p>FRCGadgets is an open source initiative to bring new tools to FRC teams to help optimize their workflow.</p>
    </div>
    <div class="info-container" fxLayout="column">
      <h1>Open Source Collaboration</h1>
      <p>All the software produced by FRCGadgets are open source and any team is welcome to contribute to them.</p>
    </div>
    <div class="info-container" fxLayout="column">
        <h1>How To Get Started</h1>
        <p>Start the journey towards optimizing your team by selecting one of the software tools we offer.</p>
      </div>
  </div>
</div>
